body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  text-align: center;
  background-image:url(https://media.timeout.com/images/105851757/750/422/image.jpg);
}
